.responsivo{
  font-size: 1.25rem; 
}
  
  @media (min-width: 768px) {
    .responsivo {
      font-size: 1.5rem; 
    }
  }
  @media (min-width: 992px) {
    .responsivo {
      font-size: 35px;
      margin-left: 300px;
     margin-top: -130px;
    
    }
  }
  @media (min-width: 768px) {
    .responsivo2 {
      font-size: 1.5rem; 
    }
  }
  
  @media (min-width: 992px) {
    .responsivo2 {
      font-size: 20px;
      margin-left:290px;
    
    }
  }

