<div class="custom-container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <p class="text">Com o esportstock,você pode:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Adicionar novos produtos</li>
            <li class="list-group-item">Visualizar produtos existentes</li>
            <li class="list-group-item">Atualizar produtos (lançamento, promoção e indisponível)</li>
            <li class="list-group-item">Excluir produtos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
